<html>
    <head>
        <title>not cats</title>
    </head>
    <body>
        <p>picture of not cat(but actually a cat)</p>
        <img src="car1.jpg" alt="poo">
        <p>another picture of not cat(but actually a cat)</p>
        <img src="car2.jpg" alt="poo">
    </body>
</html>