<html>
    <head>
        <title>cats</title>
    </head>
    <body>
        <p>picture of cat</p>
        <img src="/cat1.jpeg" alt="poo">
        <p>another picture of cat</p>
        <img src="cat2.jpg" alt="poo">
    </body>
</html>