<html>
    <head>
        <title>I like cats&&!cats</title>
    </head>
    <body>
        <form>
            Name:
            <input type="text" name="name"><br>
            Pyschic link:
            <input type="text" name="email"><br>
            How much do you like Cats&&!Cats(scale 1 to 10):
            <input type="text" name="eleven" value="11" disabled><br>
            <input type="submit" value="send">
        </form>
    </body>
</html>