<html>
    <head>
        <title>blash and blash</title>
    </head>
    <body>
        <h2>Welcome to cats and not cats(but these are actually cats my mistake)</h2>
        <a href="/cars">Not cats here!</a><br>
        <a href="/cats">Live pictures of cats here!</a><br>
        <a href="/form">A form to tell you how much you like cats and not cats</a>
    </body>
</html>